html,
body {
  height: 100%;
}

.article.content {
  /* Override 100vh from myst-theme:styles/typography.css so content div
   * doesn't push the footer offscreen.
   */
  min-height: 0vh;
  grid-template-columns: 1fr;
  margin-left: 15%;
  margin-right: 15%;
}

footer {
  /* Make footer "sticky" to page bottom as described here:
   *   https://css-tricks.com/a-clever-sticky-footer-technique/
   */
  position: sticky;
  top: 100vh;
  background: #013243;
  color: white;
  padding-left: 15%;
  padding-right: 15%;

  /* Outer content grid */
  & .footer-grid {
    /* spacer, project description, spacer, link columns, spacer */
    align-items: center;
    margin-bottom: 0rem;
    grid-template-columns: 1fr 3fr 1fr;

    & li {
      list-style: none;
    }
  }

  @media (max-width: 640px) {
    & .outer-grid {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  /* Heading colours */
  & a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  & h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }

  & .social-links {
    & svg {
      width: 2em;
      height: 2em;
    }
  }
}

.myst-card-header {
  font-size: 110%;
  color: revert;
}

/*
 * Hide the "Download" icon in the frontmatter.
 */
#skip-to-frontmatter > .items-center {
  display: none;
}

/*
 * Hide top nav "hamburger menu" button that shows up at smaller screen widths
 * to open primary sidebar.
 */
.myst-top-nav-menu-button {
    display: none;
}
