html,
body {
  height: 100%;
}

.article.content {
  /* Override 100vh from myst-theme:styles/typography.css so content div
   * doesn't push the footer offscreen.
   */
  min-height: 0vh;
}

footer {
  /* Make footer "sticky" to page bottom as described here:
   *   https://css-tricks.com/a-clever-sticky-footer-technique/
   */
  position: sticky;
  top: 100vh;
  background: #013243;
  color: white;
  padding-left: 3.5rem;
  padding-right: 3.5rem;

  /* Outer content grid */
  & .outer-grid {
    /* spacer, project description, spacer, link columns, spacer */
    grid-template-columns: 3fr 3fr 4fr;
    align-items: center;
    margin-bottom: 0rem;

    & li {
      list-style: none;
    }
  }

  @media (max-width: 640px) {
    & .outer-grid {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  /* Heading colours */
  & a,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
  }

  & h1 {
    font-size: 1.25rem;
    font-weight: bold;
  }
}

.myst-card-header {
  font-size: 110%;
  color: revert;
}

/*
 * Hide the "Download" icon in the frontmatter.
 */
#skip-to-frontmatter > .items-center {
  display: none;
}
