html,
body {
  height: 100%;
}

.article.content {
  /* Override 100vh from myst-theme:styles/typography.css so content div
   * doesn't push the footer offscreen.
   */
  min-height: 0vh;
  grid-template-columns: 1fr;
  margin-left: 15%;
  margin-right: 15%;
}

footer {
  /* Make footer "sticky" to page bottom as described here:
   *   https://css-tricks.com/a-clever-sticky-footer-technique/
   */
  position: sticky;
  top: 100vh;
  background: #013243;
  color: white;
  padding-left: 15%;
  padding-right: 15%;

  & li {
    list-style: none;
  }

  /* Outer content grid */
  & .footer-grid {
    /* spacer, project description, spacer, link columns, spacer */
    align-items: center;
    margin-bottom: 0rem;
    grid-template-columns: 1fr 3fr 1fr;
  }

  @media (max-width: 640px) {
    & .footer-grid {
      grid-template-columns: 1fr;
      justify-items: start;
    }
  }

  & .logo {
    width: 100%;
    padding-left: 20px;

    & img {
      width: 65px;
      min-width: 65px;
    }
  }

  & .center-links {
    width: 100%;

    & div {
      min-width: 160px;
    }
    & ul {
      padding-left: 10px;
    }
  }
  @media (max-width: 640px) {
    & .center-links {
      left: -10px;
      text-align: center;
    }
  }

  & .social-links {
    width: 100%;
    min-width: 250px;
    text-align: center;

    & a {
      margin-left: 14px;
    }
    & svg {
      width: 2em;
      height: 2em;
    }
    & .copyright {
      margin-left: 18px;
      font-size: 80%;
    }
  }
}

.myst-card-header {
  font-size: 110%;
  color: revert;
}

/*
 * Hide the "Download" icon in the frontmatter.
 */
#skip-to-frontmatter > .items-center {
  display: none;
}

/*
 * Hide top nav "hamburger menu" button that shows up at smaller screen widths
 * to open primary sidebar.
 */
.myst-top-nav-menu-button {
    display: none;
}
